:root {
    --grey-color: #E5E5E5;
    --line-color: #E2E2E2;
    --dark-color: #676B76;
    --input-color: #FFFFFF;
    --button-color: #E5E5E5;
    --radio-color: #ABABAB;
    --placeholder-color: #ABABAB;

    --default-en-tag-color: #F2CFA5;
    --default-ko-tag-color: #B9D1FF;
}

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #E5E5E5 #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #E5E5E5;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #676B76;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #ABABAB;
  }

* {
    padding: 0;
    margin: 0;
    border: none;
}

span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input {
    padding: 10px 13px;
    border-radius: 5px;
}

input[type=color]:hover, button:hover {
    cursor: pointer;
}

input:focus {
    outline: 3px solid var(--focus-color);
}

blockquote {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.disabled {
    position: absolute;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    z-index: 999;
}

.disabled:hover {
    cursor: not-allowed;
}

/* Custom */

.container {
    position: relative;
    box-sizing: border-box;
    overflow: auto;
}

.padding {
    padding: 7px 10px;
}


.footer {
    min-height: 40px;
    max-height: 40px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.reverse, .flex-column.reverse {
    justify-content: end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-start {
    align-content: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.button {
    width: fit-content;
    height: 25px;

    text-overflow: ellipsis;
    padding: 5px 9px;

    font-size: 0.7rem;
    font-weight: bold;

    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.button.dark {
    background-color: var(--dark-color);
    color: white;
    border: 2px solid var(--dark-color);
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.border-top {
    border-top: 2px solid var(--grey-color);
}

.border-bottom {
    border-bottom: 2px solid var(--grey-color);
}

.border-right {
    border-right: 2px solid var(--grey-color);
}

.border-left {
    border-left: 2px solid var(--grey-color);
}

.hover-init:hover {
    cursor: initial;
}

.hover-pointer:hover {
    cursor: pointer;
}

.hover-bg:hover {
    background-color: var(--grey-color);
}

.font-size-1_1 {
    font-size: 1.1rem;
}

.font-bold {
    font-weight: bold;
}

.focus {
    background-color: var(--placeholder-color);
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-unset {
    overflow: unset;
}

/* Defined */
.tag {
    height: fit-content;
}

.tag blockquote {
    mix-blend-mode: difference;
    color: white;
}

.tag-select {
    border: 2px solid red;
}

.item {
    min-height: 50px;
    max-height: 50px;
}

.tagbox {
    min-height: 50px;
    max-height: 50px;
}

input[type=color] {
    padding: 0;
    min-width: 100%;
    min-height: 30px;
    background-color: transparent;
}

.restricted-tagbox {
    position: absolute;
    left: 0; top: 0;
    min-width: 100%;
    height: 139px;
}
.restricted-tagbox:hover {
    cursor: not-allowed;
}
.hidden {
    display: none;
}

.width-85 {
    width: 85px;
}

.not-valid {
    border: 2px solid red;
    box-sizing: border-box;
}

.delete-item {
    position: absolute;
    top: 15px;
    right: 0px;

    width: 20px;
    height: 20px;

    font-size: 1.1rem;
    font-weight: bold;
    color: var(--placeholder-color);
}

.font-item {
    min-height: 30px;
}

.search {
    width: 100%;
    min-height: 35px;
}
/* End */